# Node
node_modules
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Builds
dist
build
.out

# TypeScript
*.tsbuildinfo

# Env
.env
.env.*

# OS
.DS_Store
Thumbs.db

# Logs
logs
*.log

# Docker
docker-data

# IDE
.vscode
.idea
